html {
  --accent-color: #3761bccc;
  --a-color: #2563eb;
  --bg-color: white;
  --card-bg-color: #80808044;
  --card-bg-color-hover: #808080c9;
  --fg-color: black;
  --br-color: #919191;
}

/* Dark mode */
html.Dark {
  --a-color: #60a5fa;
  --bg-color: #171717;
  --fg-color: #cccccc;
}
