html {
  --accent-color: #4699ff85;
  --a-color: #006aff;
  --bg-color: white;
  --card-bg-color: #80808044;
  --card-bg-color-hover: #808080c9;
  --fg-color: black;
  --br-color: #919191;
}

/* Dark mode */
html.Dark {
  --a-color: #0084ff;
  --bg-color: #171717;
  --fg-color: #cccccc;
}