button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}

#menu-button,
#theme-button-light,
#theme-button-dark {
  background-color: var(--bg-color);
  border: solid 2px var(--br-color);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;

  &:hover, &:focus-visible {
    filter: invert(100%);
    transition: 0.5s;
  }
}

#theme-button-light {
  display: none;
}

html.Dark #theme-button-light {
  display: unset;
}

html.Dark #theme-button-dark {
  display: none;
}