header {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--br-color);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;

  >nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    user-select: none;
  }
}

.site-logo {
  font-size: x-large;
  font-weight: bold;
  white-space: nowrap;
}
