.list-post {
  padding: 0;
  list-style: none;
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
}

.list-item {
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 2px solid var(--br-color);
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
  transition: all .3s;

  &:active {
    transform: scale(.98);
    transition: .1s;
  }

  >.list-title{
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 5px;
  }

  >.list-meta {
    font-size: 0.8em;
  }

  >a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.list-tag {
  border-radius: 5px;
  border: 2px solid var(--br-color);
  display: inline-block;
  margin: 8px;
  padding: 5px 10px;

  &:active {
    transform: scale(.98);
    transition: .1s;
  }
}