.list-post {
  padding: 0;
  list-style: none;
}

.list-item {
  border-bottom: 1px dashed rgb(141, 141, 141);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 0.5rem;

  &:hover {
    border-bottom: 1px solid;
  }

  >a {
    font-weight: 500;
    padding-bottom: 10px;

    &:hover {
      text-decoration: underline 2px solid;
    }
  }

}

.list-meta {
  font-size: small;

  >* {
    margin-right: 2px;
  }
}

.list-tag {
  display: inline-block;
  margin: 5px;
}