#popup-menu {
  background-color: var(--bg-color);
  border: solid 1px var(--br-color);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--br-color);
  color: var(--fg-color);
  position: fixed;
  top: 3rem;
  right: 1rem;

  a {
    background-color: var(--bg-color);
    border-radius: 5px;
    display: block;
    padding: 5px;
    margin: 5px;

    &:hover, &:focus-visible {
      filter: invert(100%);
      transition: .5s;
    }
  }

  .feather {
    height: 0.8rem;
    margin-left: 5px;
    vertical-align: 0;
    width: 0.8rem;
  }
}