.post-title {
  font-size: x-large;
  font-weight: 600;
}

.post-meta {
  font-size: smaller;

  span {
    margin-right: 5px;
  }
}

.post-meta-tags {
  margin-top: .5rem;

  >a {
    background-color: var(--bg-color);
    border: 2px solid var(--br-color);
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;

    &:hover {
      border: 2px solid var(--br-color);
      filter: invert(1);
      transition: .5s;
    }
  }
}

.wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
  flex: 1;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 0;
  }
}

.post-content {
  flex: 3;
  line-height: 1.6;
  overflow: hidden;

  hr {
    height: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid var(--br-color);
  }
}

li ul {
  margin: 0 0 0 1em;
  padding: 0;
}

.headline-hash {
  visibility: hidden;
}

:has(> .headline-hash):hover {
  .headline-hash {
    visibility: visible;
  }
}