html {
  --a-color: #174dba;
  --bg-color: white;
  --fg-color: black;
  --br-color: #919191;
  scroll-padding-top: 70px;
}

/* Dark mode */
html.Dark {
  --a-color: #94b8ff;
  --bg-color: #171717;
  --fg-color: #cccccc;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  cursor: default;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  transition: all 0.3s;
  word-break: break-word;
}

#main {
  display: flex;
  flex-flow: column;
  min-height: 100svh;
}

.center {
  text-align: center;
}

.content {
  box-sizing: border-box;
  flex: 1;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1rem;
  width: 100%;
}

.no-decoration {
  color: var(--fg-color);
  text-decoration: none;

  &:hover {
    color: var(--fg-color);
    filter: unset;
    text-decoration: none;
    border-bottom: none;
  }
}

.hide {
  visibility: hidden;
}