html {
  --a-color: #174dba;
  --bg-color: white;
  --fg-color: black;
  --br-color: #919191;
  scroll-padding-top: 70px;
}

/* Dark mode */
html.Dark {
  --a-color: #94b8ff;
  --bg-color: #171717;
  --fg-color: #cccccc;
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 7px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  margin: 5px 0;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  cursor: default;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  overflow-y: scroll;
  word-break: break-word;
}

#main {
  display: flex;
  flex-flow: column;
  min-height: 100svh;
}

.center {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  flex: 1;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
  width: 100%;
}

.no-decoration {
  color: var(--fg-color);
  text-decoration: none;

  &:hover {
    color: var(--fg-color);
    filter: unset;
    text-decoration: none;
    border-bottom: none;
  }
}

.hide {
  visibility: hidden;
}