.toc {
  position: sticky;
  top: 50px;
  height: 100%;
  width: 250px;

  @media screen and (max-width: 800px) {
    display: none;
  }
}

// 画面が狭い場合の目次
.toc-mobile {
  // 通常は非表示
  display: none;

  margin-top: 1rem;

  // 画面が狭い場合は表示する
  @media screen and (max-width: 800px) {
    display: block;
  }

  >details {
    border-radius: 5px;
    border: 1px solid var(--fg-color);
    margin: 5px;
    padding: 10px;

    >summary {
      cursor: zoom-in;
      user-select: none;
    }

    &[open]>summary {
      cursor: zoom-out;
    }
  }
}

nav#TableOfContents {
  line-height: 1.5;
}