.toc {
  margin: 1rem 0;

  >details {
    border-radius: 5px;
    border: 1px solid var(--fg-color);
    margin: 5px;
    padding: 10px;

    >summary {
      cursor: zoom-in;
      user-select: none;
    }

    &[open]>summary {
      cursor: zoom-out;
    }
  }
}

nav#TableOfContents {
  line-height: 1.5;
}