header {
  background-color: var(--accent-color);
  backdrop-filter: blur(10px);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;

  >nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    user-select: none;

    >#nojs-menu-button {
      display: none;
    }

    >#nojs-menu-check {
      display: none;
    }

    >#site-logo {
      color: white;
      font-size: x-large;
      font-weight: bold;
      white-space: nowrap;
      &:hover {
        text-decoration: var(--fg-color) underline;
      }
    }
  }
}
