#menu-item {

  >#menu-button,
  >#theme-button-light,
  >#theme-button-dark {
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 20px;

    &:hover,
    &:focus-visible {
      // background-color: var(--card-bg-color-hover);
      scale: 1.3;
      transition: 0.25s;
    }
  }
}

html #theme-button-light {
  display: none;
}

html.Dark #theme-button-light {
  display: unset;
}

html.Dark #theme-button-dark {
  display: none;
}
