#menu-item {

  >#menu-button,
  >#theme-button-light,
  >#theme-button-dark {
    background-color: var(--card-bg-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;

    &:hover,
    &:focus-visible {
      background-color: var(--card-bg-color-hover);
      transition: 0.5s;
    }
  }
}

html #theme-button-light {
  display: none;
}

html.Dark #theme-button-light {
  display: unset;
}

html.Dark #theme-button-dark {
  display: none;
}