.movetop-button {
  backdrop-filter: blur(10px);
  background-color: var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  transition: opacity 0.5s, visibility 0.6s;
  z-index: 10;

  bottom: 10px;
  right: 10px;

  width: 40px;
  height: 40px;
}
