#popup-menu {
  backdrop-filter: brightness(1);
  transition: backdrop-filter 0.2s;

  position: fixed;
  inset: 0;
  z-index: 11;
  pointer-events: none;
}

#popup-menu.open {
  backdrop-filter: brightness(0.5);
  transition: backdrop-filter 0.2s;
  pointer-events: all;
}

#popup-menu-content {
  background-color: var(--bg-color);
  box-shadow: none;
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  transform: translateX(100%);
  transition: transform 0.2s;

  >a {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 6px 30px;

    &:hover {
      background-color: var(--card-bg-color-hover);
      transition: 0.5s;
    }
  }
}

#popup-menu.open #popup-menu-content {
  box-shadow: -3px 0 10px #0000009a;
  transform: translateX(0);
  transition: transform 0.2s;
}
