#popup-menu {
  background-color: var(--bg-color);
  border: solid 1px var(--card-bg-color);
  border-radius: 5px;
  padding: 8px 0;
  position: fixed;
  top: 3rem;
  right: 1rem;

  >a {
    display: block;
    padding: 4px 16px;

    &:hover,
    &:focus-visible {
      background-color: var(--card-bg-color-hover);
      transition: .5s;
    }

    &:active {
      background-color: var(--accent-color);
    }
  }

  .feather {
    height: 0.8rem;
    margin-left: 5px;
    vertical-align: 0;
    width: 0.8rem;
  }
}