#popup-menu {
  background-color: #00000075;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 11;
  transform: translateX(100%);
  transition: transform 0.25s;
}

#popup-menu.open {
  transform: translateY(0);
  transition: transform 0.25s;
}

#popup-menu-content {
  background-color: var(--bg-color);
  box-shadow: -3px 0 10px #0000009a;
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  >a {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 6px 30px;

    &:hover {
      background-color: var(--card-bg-color-hover);
      transition: 0.5s;
    }
  }
}
