#post-nav {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin: 2rem 0;

  &-next,
  &-prev {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--card-bg-color);
    width: 50%;

    &:hover {
      background-color: var(--card-bg-color-hover);
      transition: .5s;
    }

    &:active {
      transform: scale(.98);
      transition: .1s;
    }

    >.post-nav-title {
      padding: 20px 10px;
    }

    >.post-nav-arrow {
      padding: 0 10px;
    }

    >a {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  &-next {
    // 左側だけ丸くする
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &-prev {
    // 右側だけ丸くする
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: flex-end;
  }
}