{{ define "title" }}
{{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{ partial "breadcrumb" . }}
<h1 id="page-title">{{ .Title }}</h1>
{{ range (where .Site.RegularPages "Type" "posts").GroupByDate "2006-01" }}
<div class="archive-wrapper">
  <h3 class="archive-date" id="{{ .Key }}">
    <a href="#{{ .Key }}" class="no-decoration">{{ .Key }}</a>
  </h3>
  <ul class="archive-posts">
    {{ range .Pages }}
    {{ partial "list-posts-item" . }}
    {{ end }}
  </ul>
</div>
{{ end }}
{{ end }}