{{ define "title" }}
  Search | {{ .Site.Title }}
{{ end }}

{{ define "head" }}
  <style>
    .search-highlight {
      background-color: yellow;
      color: black;
    }
  </style>
  {{ $JS := resources.Get "js/search/index.js" | js.Build | minify | fingerprint }}
  <script src="{{ $JS.RelPermalink }}" defer></script>
{{ end }}

{{ define "main" }}
  {{ partial "breadcrumb" . }}
  <div id="search">
    <input type="text" id="search-input" placeholder="Search" disabled>
    <button id="search-input-clear">Clear</button>
  </div>
  <noscript>
    検索機能にはJavaScriptが動作する環境が必要です
  </noscript>
  <div id="search-result"></div>
{{ end }}