{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "head" }}
  {{ partial "hack" . }}
  {{ $copybutton := resources.Get "js/single/copyButton.js" | js.Build }}
  {{ $imgbutton := resources.Get "js/single/imgPopup.js" | js.Build }}
  {{ $movetop := resources.Get "js/single/moveTop.js" | js.Build }}
  {{ $JS := slice $copybutton $imgbutton $movetop | resources.Concat "js/single.js" | resources.Minify }}
  <script src="{{ $JS.RelPermalink }}" defer data-swup-reload-script></script>
{{ end }}

{{ define "main" }}
  {{ partial "breadcrumb" . }}
  <span class="post-title" data-pagefind-body>{{ .Title }}</span>
  <div class="post-meta">
    {{ if .Date }}
      <span>
        {{ partial "svg/calendar" . }}
        <time>{{ .Date.Format "2006-01-02 15:04:05" }}</time>
      </span>
    {{ end }}
    {{ if .Site.Params.showsource }}
      <span>
        {{ partial "svg/gitCommit" . }}
        <a href="{{ .Site.Params.contenturl }}{{ .File.Path }}" target="_blank" rel="noopener noreferrer">History</a>
      </span>
    {{ end }}
    <div class="post-meta-tags">
      {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink }}" class="no-decoration">&#035;{{ .LinkTitle }}</a>
      {{ end }}
    </div>
  </div>
  <div class="wrapper">
    {{ partial "toc" . }}
    <article class="post-content" data-pagefind-body>
      {{ .Content | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" "${1}&nbsp;<a class=\"headline-hash\" href=\"#${2}\">#</a> ${3}" | safeHTML }}
    </article>
  </div>
  {{ if .Params.comments }}
    {{ if $.Site.IsServer }}
      <p>プレビューではコメントが非表示なります</p>
    {{ else }}
      {{ partial "comments" . }}
    {{ end }}
  {{ end }}
  {{ if .Site.Params.postnav }}
    {{ if in .Permalink "posts" }}
      {{ partial "post-nav" . }}
    {{ end }}
  {{ end }}
{{ end }}