{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "head" }}
  {{ partial "hack" . }}
{{ end }}

{{ define "main" }}
  {{ partial "breadcrumb" . }}
  <span class="text-2xl font-bold" data-pagefind-body>{{ .Title }}</span>
  <div class="text-sm mb-2">
    {{ if .Date }}
      <span>
        <time>{{ .Date.Format "2006-01-02 15:04:05" }}</time>
      </span>
    {{ end }}
    {{ if .Site.Params.showsource }}
      <span>
        <a class="text-blue-600 dark:text-blue-300" href="{{ .Site.Params.contenturl }}{{ .File.Path }}" target="_blank" rel="noopener noreferrer">History</a>
      </span>
    {{ end }}
    <div>
      {{ range (.GetTerms "tags") }}
        <span>
          <a class="text-blue-600 dark:text-blue-300" href="{{ .Permalink }}">&#035;{{ .LinkTitle }}</a>
        </span>
      {{ end }}
    </div>
  </div>
  {{ partial "toc" . }}
  <article class="markdown" data-pagefind-body>
    {{ .Content | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" "${1}&nbsp;<a class=\"headline-hash\" href=\"#${2}\">#</a> ${3}" | safeHTML }}
  </article>
  {{ if .Site.Params.postnav }}
    {{ if in .Permalink "posts" }}
      {{ partial "post-nav" . }}
    {{ end }}
  {{ end }}
  {{ if .Params.comments }}
    {{ if $.Site.IsServer }}
      <p>プレビューではコメントが非表示なります</p>
    {{ else }}
      {{ partial "comments" . }}
    {{ end }}
  {{ end }}
{{ end }}