.breadcrumb {
  font-size: smaller;
  margin: 0.5rem 0 0;
  overflow-x: auto;
  padding: 0;
  word-break: keep-all;
  white-space: nowrap;
  /* Firefox */
  scrollbar-width: none;
}

/* Chrome, Safari */
.breadcrumb::-webkit-scrollbar {
  display: none;
}

.breadcrumb > ul {
  padding: 0;
}

.breadcrumb li {
  display: inline;
  list-style: none;
}

.breadcrumb li:not(:last-child)::after {
  content: '>';
  padding: 0 0.2rem;
}