#menu-button, #theme-button {
  background-color: var(--bg-color);
  border: solid 2px var(--br-color);
  cursor: pointer;
  padding: 5px 10px;
}

#menu-button:hover, #theme-button:hover {
  filter: invert(100%);
  transition: 0.5s;
}