#menu-button, #theme-button-light, #theme-button-dark {
  background-color: var(--bg-color);
  border: solid 2px var(--br-color);
  cursor: pointer;
  padding: 5px 10px;
}

#menu-button:hover, #theme-button-light:hover, #theme-button-dark:hover {
  filter: invert(100%);
  transition: 0.5s;
}

#theme-button-light {
  display: none;
}

html.Dark #theme-button-light {
  display: unset;
}

html.Dark #theme-button-dark {
  display: none;
}