header {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--br-color);
  padding: 10px;
  position: sticky;
  top: 0;
}

header > nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.site-logo {
  flex: 1;
  font-size: x-large;
  font-weight: bold;
  white-space: nowrap;
}

/* .menu-item {
  padding: 0.15rem;
} */

.menu-item * {
  margin-right: 0.5rem;
}