.list-post {
  padding: 0;
  list-style: none;
}

.list-item {
  border-bottom: 1px dashed rgb(141, 141, 141);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 0.5rem;
}

.list-item > a {
  font-weight: 500;
  padding-bottom: 10px;
}

.list-item > a:hover {
  filter: contrast(0.5);
}

.list-meta {
  font-size: small;
}

.list-meta > * {
  margin-right: 2px;
}

.list-tag {
  display: inline-block;
  margin: 5px;
}