#popup-menu {
  background-color: var(--bg-color);
  border: solid 1px var(--br-color);
  color: var(--fg-color);
  position: fixed;
  right: 1rem;
  padding: 0 1rem;
  transition: display 1s;
}

#popup-menu ul {
  list-style: none;
  padding: 0;
}

#popup-menu ul li {
  margin-bottom: 0.5rem;
}

#popup-menu .feather {
  height: 0.8rem;
  margin-left: 5px;
  vertical-align: 0;
  width: 0.8rem;
}