html {
  --a-color: #174dba;
  --a-hover-color: #4970be;
  --bg-color: white;
  --fg-color: black;
  --br-color: #919191;
}

/* Dark mode */
html.Dark {
  --a-color: #94b8ff;
  --a-hover-color: #dae6ff;
  --bg-color: #171717;
  --fg-color: #cccccc;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  transition: all 0.3s;
  word-break: break-word;
}

#main {
  display: flex;
  flex-flow: column;
  min-height: 100svh;
}

.center {
  text-align: center;
}

.content {
  box-sizing: border-box;
  flex: 1;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1rem;
  width: 100%;
}

.no-decoration {
  color: var(--fg-color);
  text-decoration: none;
}

.no-decoration:hover {
  color: var(--fg-color);
  text-decoration: none;
  border-bottom: none;
}

.hide {
  display: none;
}