:root {
  --a-color: #174dba;
  --a-hover-color: #4970be;
  --bg-color: white;
  --fg-color: black;
  --br-color: #919191;

  --a-d-color: #94b8ff;
  --a-hover-d-color: #dae6ff;
  --bg-d-color: #171717;
  --fg-d-color: #cccccc;
}

body {
  /* line-height: 1.6; */
  background-color: var(--bg-color);
  color: var(--fg-color);
  /* display: flex; */
  /* flex-flow: column; */
  font-family: system-ui,sans-serif;
  font-size: 1.1rem;
  margin: 0 auto;
  /* max-width: 750px; */
  /* min-height: 100svh; */
  /* padding: 0 1rem 0 1rem; */
  word-break: break-word;
}

#main {
  display: flex;
  flex-flow: column;
  min-height: 100svh;
  padding: 0 1rem;
}

.center {
  text-align: center;
}

.content {
  flex: 1;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.no-decoration {
  color: var(--fg-color);
  text-decoration: none;
}

.no-decoration:hover {
  color: var(--fg-color);
  text-decoration: none;
  border-bottom: none;
}

.hide {
  display: none;
}