.archive {
  &-wrapper {
    display: flex;
    gap: 1rem;
  }

  &-date {
    text-wrap: nowrap;
    &:hover {
      text-decoration: underline 2px;
    }
  }

  &-posts {
    list-style: none;
    padding: 0;
    width: 100%;
  }
}