.archive {
  &-wrapper {
    display: flex;
    gap: 1rem;
  }

  &-date {
    &:hover {
      text-decoration: underline 2px;
    }
  }

  &-posts {
    list-style: none;
    padding: 0;
    flex: 1;
  }
}