#list-posts {
  padding: 0;
  list-style: none;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
}

.list-posts-item {
  border-bottom: 1px solid var(--br-color);
  margin-bottom: 1rem;

  &-wrapper {
    position: relative;
    margin-bottom: 1rem;
    padding: 5px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #8080804a;
    }

    &:hover {
      &::before {
        height: 100%;
        transition: 0.5s;
      }

      .list-posts-item-read {
        box-shadow: inset 0 -1.5rem var(--accent-color);
        color: var(--fg-color);
        transition: 0.5s;
      }
    }
  }

  &-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-title {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &-meta {
    font-size: 0.9rem;
    margin-bottom: 1rem;

    >time {
      margin-right: 5px;
    }

    &-tag {
      background-color: var(--card-bg-color);
      border-radius: 5px;
      display: inline-block;
      padding: 4px 10px;
      position: relative;

      &:hover {
        background-color: var(--card-bg-color-hover);
        transition: 0.5s;
      }
    }
  }

  &-read {
    color: var(--a-color);
    font-weight: bold;
  }
}

#pagination {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 10px;
  max-width: 800px;
  width: 100%;

  &-next,
  &-prev {
    background-color: var(--card-bg-color);
    border-radius: 5px;
    padding: 10px 15px;

    &:hover {
      background-color: var(--card-bg-color-hover);
      transition: 0.5s;
    }
  }
}