#search {
  align-items: center;
  display: flex;
  position: relative;

  &-input {
    background-color: var(--bg-color);
    border: 2px solid var(--br-color);
    border-radius: 5px;
    color: var(--fg-color);
    font-size: 1.1rem;
    margin: 1rem 0;
    padding: 5px;
    width: 100%;
  }

  &-input-clear {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    visibility: hidden;
  }
}