#post {
  &-title {
    font-size: x-large;
    font-weight: bold;
  }

  &-meta {
    font-size: smaller;

    >span {
      margin-right: 5px;
    }

    &-tags {
      margin-top: .5rem;

      >a {
        background-color: var(--card-bg-color);
        border-radius: 5px;
        display: inline-block;
        padding: 5px 10px;

        &:hover {
          background-color: var(--card-bg-color-hover);
          transition: 0.5s;
        }
      }
    }
  }
}

#wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
  flex: 1;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 0;
  }
}

#post-content {
  flex: 3;
  line-height: 1.6;
  overflow: hidden;

  h1,
  h2,
  h3 {
    background-color: var(--card-bg-color);
    border-left: 10px solid var(--accent-color);
    padding-left: 10px;
  }

  blockquote {
    border-left: 5px solid darkgray;
    padding-left: 1rem;
  }

  .post-content-link {
    color: var(--fg-color);
    box-shadow: inset 0px -3px var(--accent-color);
    font-weight: unset;
    text-decoration: none;

    &:hover {
      box-shadow: inset 0px -1.5rem var(--accent-color);
      transition: .5s;
    }

    >.feather {
      margin-left: 5px;
      height: 0.8rem;
      width: 0.8rem;
      vertical-align: 0;
    }
  }

  img {
    border-radius: 5px;
    max-width: 100%;
  }

  hr {
    height: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid var(--br-color);
  }

  >table,
  .details-content>table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    word-break: keep-all;

    >thead {
      background-color: var(--card-bg-color);
    }

    >thead>tr>th,
    >tbody>tr>td {
      border: 1px solid var(--br-color);
      padding: 10px;
    }
  }
}

.headline-hash:hover {
  text-decoration: underline 2px;
}


#toc {
  background-color: var(--card-bg-color);
  border-radius: 5px;
  padding: 0 10px;
  position: sticky;
  top: 70px;
  height: 100%;
  width: 250px;

  @media screen and (max-width: 800px) {
    display: none;
  }
}

// 画面が狭い場合の目次
#toc-mobile {
  // 通常は非表示
  display: none;

  margin-top: 1rem;

  // 画面が狭い場合は表示する
  @media screen and (max-width: 800px) {
    display: block;
  }

  >details {
    border-radius: 5px;
    background-color: var(--card-bg-color);
    margin: 5px;
    padding: 10px;

    >summary {
      cursor: zoom-in;
      user-select: none;
    }

    &[open]>summary {
      cursor: zoom-out;
    }
  }
}

nav.TableOfContents {
  line-height: 1.5;

  >ul {
    padding-left: 25px;
  }

  a {
    text-decoration: none;

    &:hover {
      box-shadow: inset 0 -1.5rem var(--accent-color);
      color: var(--fg-color);
      transition: 0.5s;
    }
  }
}
