#list-terms {
  padding: 0;
  list-style: none;
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  width: 100%;
}

.list-terms-item {
  display: inline-block;
  margin: 8px;

  >a {
    background-color: var(--bg-color);
    border: 2px solid var(--br-color);
    border-radius: 5px;
    display: block;
    padding: 5px 10px;

    &:hover {
      // ホバー時にずれるため
      border: 2px solid var(--br-color);

      filter: invert(100%);
      transition: .5s;
    }

    &:active {
      transform: scale(.98);
      transition: .1s;
    }
  }
}

#search-terms-input {
  background-color: var(--bg-color);
  border: 2px solid var(--br-color);
  border-radius: 5px;
  color: var(--fg-color);
  max-width: 10rem;
  padding: 5px;
}