#list-terms {
  padding: 0;
  list-style: none;
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  width: 100%;
}

.list-terms-item {
  display: inline-block;
  margin: 8px;

  >a {
    background-color: var(--card-bg-color);
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;

    &:hover {
      background-color: var(--card-bg-color-hover);
      transition: 0.5s;
    }
  }
}

#search-terms-input {
  background-color: var(--card-bg-color);
  border: none;
  border-radius: 5px;
  color: var(--fg-color);
  font-size: 0.9rem;
  margin: 5px;
  max-width: 10rem;
  padding: 8px;

  &:focus {
    outline: 2px solid var(--br-color);
  }
}
