<ul class="text-sm mb-1">
  {{- range .Ancestors.Reverse }}
    {{ if eq .IsHome true }}
      <li after=" » " class="after:content-[attr(after)] after:mx-1 inline"><a class="text-blue-600 dark:text-blue-300" href="{{ .Permalink }}">Home</a></li>
    {{ else }}
      <li after=" » " class="after:content-[attr(after)] after:mx-1 inline"><a class="text-blue-600 dark:text-blue-300" href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
  {{- end }}
  <li class="inline">
    {{ .Title }}
  </li>
</ul>