<nav>
  <div class="site-logo">
    <a class="no-decoration" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
  </div>
  <div class="menu-item">
    <button id="theme-button-light">light</button>
    <button id="theme-button-dark">dark</button>
    <button id="menu-button">menu</button>
  </div>
</nav>
<div id="popup-menu" class="hide">
  {{ range .Site.Menus.header }}
  {{ if eq .Params.newtab true }}
  <a href="{{ .URL }}" target="_blank" class="no-decoration" rel="noopener noreferrer">{{ .Name | safeHTML}}<svg
      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
      <polyline points="15 3 21 3 21 9"></polyline>
      <line x1="10" y1="14" x2="21" y2="3"></line>
    </svg></a>
  {{ else }}
  <a href="{{ .URL }}" class="no-decoration">{{ .Name | safeHTML }}</a>
  {{ end }}
  {{ end }}
</div>