<nav>
  <div class="site-logo">
    <a class="no-decoration" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
  </div>
  <div class="menu-item">
    <button id="theme-button-light" aria-label="light mode">
      {{ partial "svg/sun" . }}
    </button>
    <button id="theme-button-dark" aria-label="dark mode">
      {{ partial "svg/moon" . }}
    </button>
    <button id="menu-button" aria-label="menu button">
      {{ partial "svg/menu" . }}
    </button>
  </div>
</nav>
<div id="popup-menu" class="hide">
  {{ range .Site.Menus.header }}
    {{ if eq .Params.newtab true }}
      <a href="{{ .URL }}" target="_blank" class="no-decoration" rel="noopener noreferrer">
        {{ .Name | safeHTML}}{{ partial "svg/externalLink" . }}
      </a>
    {{ else }}
      <a href="{{ .URL }}" class="no-decoration">{{ .Name | safeHTML }}</a>
    {{ end }}
  {{ end }}
</div>