<script>
  (function (global) {
    if (localStorage.getItem("dark")) {
      if (localStorage.getItem("dark") == "on") {
        global.document.documentElement.classList.add("Dark");
      }
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      global.document.documentElement.classList.add("Dark");
    }
  })(globalThis);
</script>

{{/*  Bundle  */}}
{{ $consle := resources.Get "js/console.js" | js.Build }}
{{ $darkmode := resources.Get "js/darkmode.js" | js.Build }}
{{ $popupmenu := resources.Get "js/popup-menu.js" | js.Build }}
{{ $swup := resources.Get "js/swup.js" | js.Build }}

{{ $JS := slice $consle $darkmode $popupmenu $swup | resources.Concat "js/bundle.js" | resources.Minify }}
<script src="{{ $JS.RelPermalink }}" defer></script>