<script>
  (function (global) {
    if (localStorage.getItem("dark")) {
      if (localStorage.getItem("dark") == "on") {
        global.document.documentElement.classList.add("Dark");
      }
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      global.document.documentElement.classList.add("Dark");
    }
  })(globalThis);
</script>
{{ $JS := resources.Match "js/*.js" | resources.Concat "js/script.js" | resources.Minify }}
<script src="{{ $JS.RelPermalink }}" defer></script>

{{/*  swup  */}}
<script src="https://unpkg.com/swup@4"></script>
<script src="https://unpkg.com/@swup/head-plugin@2"></script>