{{ if eq .IsHome false }}
<h1 id="page-title">{{ .Title }}</h1>
{{ end }}
<ul id="list-posts">
  {{ $paginator := 0 }}
  {{ if eq .IsHome false }}
    {{ $paginator = .Paginator }}
  {{ else }}
    {{ $paginator = .Paginate (where .Site.RegularPages "Type" "posts") }}
  {{ end }}
  {{ range $paginator.Pages }}
    {{ partial "list-posts-item" . }}
  {{ end }}
</ul>
<nav id="pagination">
  {{ if .Paginator.HasPrev }}
    {{ with .Paginator.Prev }}
      <a id="pagenation-prev" class="no-decoration" href="{{ .URL }}">{{ partial "svg/arrowLeft" . }}Newer</a>
    {{ end }}
  {{ end }}
  <div id="pagination-separator"></div>
  {{ if .Paginator.HasNext }}
    {{ with .Paginator.Next }}
      <a id="pagenation-next" class="no-decoration" href="{{ .URL }}">Older{{ partial "svg/arrowRight" . }}</a>
    {{ end }}
  {{ end }}
</nav>