<ul class="list-post">
  {{ $paginator := 0 }}
  {{ if eq .IsHome false }}
    <h1>{{ .Title }}</h1>
    {{ $paginator = .Paginator }}
  {{ else }}
    {{ $paginator = .Paginate (where .Site.RegularPages "Type" "posts") }}
  {{ end }}
  {{ range $paginator.Pages }}
    {{ partial "list-item" . }}
  {{ end }}
</ul>
<nav class="pagination">
  {{ if .Paginator.HasPrev }}
    {{ with .Paginator.Prev }}
      <a class="page-prev" href="{{ .URL }}">{{ partial "svg/arrowLeft" . }}Newer</a>
    {{ end }}
  {{ end }}
  {{ if .Paginator.HasNext }}
    {{ with .Paginator.Next }}
      <a class="page-next" href="{{ .URL }}">Older{{ partial "svg/arrowRight" . }}</a>
    {{ end }}
  {{ end }}
</nav>