<div id="post-nav">
  {{ with .NextInSection }}
  <div id="post-nav-next">
    <span class="post-nav-arrow">←</span>
    <span class="post-nav-title">{{ .Title }}</span>
    <a href="{{ .Permalink }}" class="no-decoration"></a>
  </div>
  {{ end }}
  <div id="post-nav-separator"></div>
  {{ with .PrevInSection }}
  <div id="post-nav-prev">
    <span class="post-nav-title">{{ .Title }}</span>
    <a href="{{ .Permalink }}" class="no-decoration"></a>
    <span class="post-nav-arrow">→</span>
  </div>
  {{ end }}
</div>