<p>
  {{ $width := .Get "width" }}
  {{ $height := .Get "height" }}
  {{ $alt := .Get "alt" }}
  {{ with .Page.Resources.GetMatch (.Get "src" | safeURL) }}
    <a class="no-decoration pswp-child" href="{{ .RelPermalink | safeURL }}" data-pswp-width="{{ .Width }}" data-pswp-height="{{ .Height }}">
      <img src="{{ .RelPermalink | safeURL }}" {{ with $alt }} alt="{{ . }}" {{ end }} {{ with $width }} width="{{ . }}" {{ end }} {{ with $height }} height="{{ . }}" {{ end }}/>
    </a>
  {{ else }}
    <img src="{{ .Get "src" | safeURL }}" {{ with $alt }} alt="{{ . }}" {{ end }} {{ with $width }} width="{{ . }}" {{ end }} {{ with $height }} height="{{ . }}" {{ end }}/>
  {{ end }}
</p>